*.csv
*.pyc
WriteRatesToCSV_EM.py
*checkpoint.ipynb


plottingCode/Fig_2/*.png
plottingCode/Fig_2/Mass1/*.png
plottingCode/Fig_2/Mass2/*.png
plottingCode/Fig_2/MassRatio/*.png
plottingCode/Fig_2/Mchirp/*.png
plottingCode/Fig_2/Mtot/*.png
plottingCode/Fig_2/vs_Mtot_q/*.png
# plottingCode/Fig_2/Mass2/*.png
plottingCode/.DS_Store
plottingCode/Fig_2/.DS_Store
plottingCode/.DS_Store
plottingCode/.DS_Store
plottingCode/Fig_2/.DS_Store
plottingCode/.DS_Store
plottingCode/.DS_Store
.DS_Store
plottingCode/.DS_Store
.DS_Store
.DS_Store
plottingCode/.DS_Store
